/* added roboto mono font family  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* var text size for title  */
:root {
  --title-size: 36px;
  --text-size: 20px;
  --text-weight: 500;
  --text-color: white;
  --text-color-dark: black;
  --background-color-2: #18A0FB;
  --background-color-3: #D9D9D9;
  --background-color: #199ef638;
  /* small device text size */
  --title-size-small: 24px;
  --text-size-small: 16px;
  --text-weight-small: 500;
  --text-color-small: white;
  --text-color-dark-small: black;
  --background-color-2-small: #18A0FB;
  --background-color-3-small: #D9D9D9;
  --background-color-small: #199ef638;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 500;
  
}

body{
  padding: 20px 50px;
  margin: 0;
  padding: 0;
  background-color: #199ef638;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent;
  color: white;
}
.nav .nav-title{
  font-size: 36px;
  font-weight: 500;
  color: black;
}


/* design for weather search container */
.weather_search {
  margin: 0px;
  width: fit-content;
  height: fit-content;
  padding: 1px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.weather_search .weather_input_list {
width: 100%;
padding: 0px 0px;
height: inherit;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}
.weather_input_list  {
  width: 100%;
  height: fit-content;
  padding: 5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.weather_input_list  .weather_search_form{
  width: 100%;
  height: fit-content;
  padding: 5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.weather_input_list .button_filter_container {
  width: 100%;
  height: fit-content;
  padding: 5px 1px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.weather_input_list  .weather_search_form .weather_search_input{
  border: none;
  outline: none;
  font-size: var(--text-size);
  font-weight: var(--text-weight-small);
  color: black;
  margin: 0px 5px;
  padding: 5px 10px;
  border-radius: 10px;
}
.weather_input_list  .weather_search_form .weather_search_button{
  border: none;
  outline: none;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  background-color: var(--background-color-3);
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
}
.weather_input_list  .weather_search_form .weather_search_button:hover{
  background-color: var(--background-color-2);
}

.weather_input_list .button_filter_container .locate_me{
  border: none;
  outline: none;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: black;
  background-color: var(--background-color-3);
  margin: 0px 5px;
  border-radius: 10px;
  padding: 5px 10px;

}
.weather_input_list  .button_filter_container .locate_me:hover{
  background-color: var(--background-color-2);
}

.weather_input_list .button_filter_container .weather_search_unit{
  border: none;
  outline: none;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  color: black;
  background-color: var(--background-color-3);
  margin: 0px 5px;
  border-radius: 10px;
}



/* design for weather ui */
.weather_ui{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 20px 50px;
}

/* design for container of weather basic data */
.weather_basic {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	column-gap: 5px;
	padding: 20px 50px;
	background-color: #18A0FB;
	width: 100%;
	border-radius: 20px;
  }
  
/* design for location */
  .weather_basic .weather_basic_location {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.weather_basic .weather_basic_location .weather_basic_location_city{
  font-weight: var(--text-weight);
  font-size: var(--title-size);
}
/* description for temperature */
.weather_basic .weather_basic_temperature{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.weather_basic .weather_basic_temperature .weather_basic_temperature_value{
  font-weight: 500;
  font-size: 64px;
}
/* design for description weather */
.weather_basic  .weather_basic_description{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.weather_basic .weather_basic_description .weather_basic_description_text{
  font-weight: 500;
  font-size: 24px;
}
/* design for high and low temp */
.weather_basic .weather_basic_high_low{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 500;
	font-size: 24px;
}
.weather_basic .weather_basic_high_low .weather_basic_high h1{
	font-size: var(--text-size);
	font-weight: var(--text-weight);
}
.weather_basic .weather_basic_high_low .weather_basic_low h1{
	font-size: var(--text-size);
	font-weight: var(--text-weight);
}

.weather_details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
.weather_details .weather_details_item_groupe{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.weather_details .weather_details_item_groupe .weather_details_item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;
  background-color: #18A0FB;
  color: white;
  border-radius: 10px;
}



.weather_footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* design for footer */
.weather_footer_text {
	font-size: 20px;
	font-weight: 500;
	color: black;
}
  